<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WanderBlitz Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <footer>
        <div class="container1">
            <div class="footer-content text-left">
                <h2 class="text-2xl font-extrabold mb-4 text-center" style="color: #61c0bf; margin-bottom: 9px;">Conatct
                    Us
                </h2>
                <p>Email : info@wanderblitz.com</p>
                <p>Phone : +91 9999999999</p>
                <p>Address : Gujarat, India</p>
            </div>
            <div class="footer-content">
                <h2 class="text-2xl font-extrabold mb-4 text-center" style="color: #61c0bf; margin-bottom: 9px;">Quick
                    Links
                </h2>
                <ul class="list">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/listings">Listing</a></li>
                    <li><a href="/mybookings">My Bookings</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h2 class="text-2xl font-extrabold mb-4 text-center" style="color: #61c0bf; margin-bottom: 9px;">Follow
                    Us
                </h2>
                <ul class="social-icons">
                    <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2024 WanderBlitz. All rights reserved</p>
        </div>
    </footer>
</body>

</html>